certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
decorator==4.2.1
idna==2.6
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.4.0
matplotlib==2.1.2
nbformat==4.4.0
numpy==1.14.1
plotly==2.4.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
requests==2.20.0
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
traitlets==4.3.2
urllib3==1.26.5
